{% extends 'core/base.html' %}

{% load staticfiles %}
{% block href %} <link rel="stylesheet" type="text/css" href="{% static 'core/aboutus.css' %}"> {% endblock %}

{% block title%}About Us{% endblock %}

{% block body %}


  <section id="topInfo">
    <h1>ABOUT OUR TEAM</h1>
    <img id="groupPicture" src="{% static 'core/images/group2.jpg' %}"></img>
    <p id="bio1">Hi, we're Nadean, Pawandeep, Annika, and Nisha. We're from the Girls Who Code program at Synchrony Financial in Chicago.
      We created this project to help users become more environmentally active in an interactive way. We hope our network helps
      bring awareness to simple ways that people can reduce their carbon footprint and waste.
    </p>
    <br>
  </section>


  <section id="allbios">
  <div class="ourBios">
    <img src="{% static 'core/images/nadeanhead.jpg' %}" id="headshot">
    <h2>NADEAN GHOULEH</h2>
    <p class="left">Hey it's Nadean, I am currently a junior at Universal school. I honestly joined Girls Who Code to try something new and meet new people, which I did. The best part about the program was interacting with everyone. Some activities I enjoy are engaging in outdoor activities, spending time with family and friends, drawing, and reading. I appreciate everyone who encouraged me to get involved with Girls Who Code, it was truly a great experience. </p>
  </div>
    <br>
  <div class="ourBios">
    <img src="{% static 'core/images/pawandeephead.jpg' %}" id="headshot">
    <h2>PAWANDEEP KAUR</h2>
    <p class="left">Hey guys I'm Pawandeep and I'm a senior at Waukegan High School. I love to read books, watch YouTubers, tv shows, and listen to music.
    Shoutout to Girls Who Code for this great opportunity. </p>
  </div>
    <br>
  <div class="ourBios">
    <img src="{% static 'core/images/annikahead.jpg' %}" id="headshot">
    <h2>ANNIKA LAFYATIS</h2>
    <p class="left">I'm Annika, and I'm a senior at Conant High School. My favorite language is Python and my favorite animals are cats. Besides coding, I enjoy reading,
    spending time with friends, and playing soccer. Thank you to my teachers and family who have encouraged my interest in computer science. </p>
  </div>
    <br>
  <div class="ourBios">
    <img src="{% static 'core/images/nishahead.jpg' %}" id="headshot">
    <h2>NISHA PANT</h2>
    <p class="left">Hey! I'm Nisha, a junior at Conant High School. I am interested in web design and back-end development. When I'm not programming, you can find me running, taking photos, reading, trying new foods and listening to music. I plan to pursue computer science in college. </p>
  </div>
  </section>
{% endblock %}
