{% extends 'core/base.html' %}

{% block title %}Welcome, User{% endblock %}
{% load staticfiles %}
{% block href %} <link rel="stylesheet" type="text/css" href="{% static 'core/userhomepage.css' %}"> {% endblock %}

{% block body %}
  <h1>Welcome, {{ user.username }}</h1>

      <div id="all_content">
            {% for activity in all_activities %}
                <div class= "task">
                    <div>
                        <div class="caption">
                            <!-- <h3>{{ activity.taskName }} : {{ activity.is_complete }} points </h3> -->
                            <!-- <h4>{{ activity.category }}</h4> -->

                            <!-- View Details -->
                            <!-- <a href="{% url 'core:detail' activity.id %}" class="btn btn-primary btn-sm" role="button">View Details</a> -->

                            <!-- Favorite activity -->
                            <a href="{% url 'core:add_total' activity.id %}" class="btn btn-default btn-sm btn-favorite" role="button">
                                {{ activity.taskName }} : {{ activity.is_complete }} points
                                <!-- <span class="glyphicon glyphicon-star {% if activity.is_complete > 0 %}active{% endif %}"></span> -->
                            </a>

                        </div>
                    </div>
                </div>
                {% cycle '' '' '' '' '' '<div class="clearfix visible-lg"></div>' %}
            {% endfor %}
      </div>
{% endblock %}
