{% extends 'core/base.html' %}

{% block title %}Welcome, User{% endblock %}
{% load staticfiles %}
{% block href %} <link rel="stylesheet" type="text/css" href="{% static 'core/userhomepage.css' %}"> {% endblock %}

{% block body %}
  <h1>Welcome {{ user.username }} here are your tasks: </h1>

  {% if error_message %}
    <p>{{error_message}}</p>
  {% endif %}

  {% for activity in all_activities %}
    <p>hello</p>
  {% endfor %}



<!-- <form action="{% url 'core:add_total' activity.id %}" method="post">
    {% csrf_token %}
    {% for activity in all_activities %}
      <input type="radio" id="activity{{ forloop.counter }}" name="activity" value="{{ activity.id }}">
      <p>hello</p>
      <label for="activity{{ forloop.counter }}" >
          {{ activity.taskName }} {{activity.category}}
          {% if activity.is_complete %}
            <p>good job</p>
          {% endif %}
      </label> <br>
    {% endfor %}
    <input type="submit" value="add points">
</form> -->

{% endblock %}
