{% extends 'core/base.html' %}

{% block title %}Welcome, User{% endblock %}
{% load staticfiles %}
{% block href %} <link rel="stylesheet" type="text/css" href="{% static 'core/userhomepage.css' %}"> {% endblock %}

{% block body %}
  <h1>Welcome {{ user.username }} here are your tasks: </h1>

    {% for activity in all_activities %}
      <input type="radio" id="activity{{ forloop.counter }}" name="activity" value="{{ activity.id }}"/>
      <label for="activity{{ forloop.counter }}" >
          {{ activity.taskName }} {{activity.category}}
      </label>
      <br>
    {% endfor %}
    <input type="submit" value="points"/>

{% endblock %}
