body{
  background: url(images/treeblur.jpg) no-repeat center center fixed;
  -webkit-background-size: cover; /* For WebKit*/
  -moz-background-size: cover;    /* Mozilla*/
  -o-background-size: cover;      /* Opera*/
  background-size: cover;
  color: white;
}

#name{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 100px;

}

/* The navigation bar */
  #navbar {
        overflow: hidden;
        background-color: rgba(255, 255, 255, 0.6);
        position: fixed; /* Set the navbar to fixed position */
        top: 0; /* Position the navbar at the top of the page */
        width: 100%; /* Full width */
        /*padding-top: 20px;
        padding-bottom: 20px; */
        text-align: center;
}

/* Links inside the navbar */
  #navbar a {
        float: left;
        display: block;
        text-align: center;
        font-family: 'Lato', sans-serif;
        padding: 20px 35px;
        font-size: 15px;
        color:#303030;
        text-decoration: none;
        letter-spacing: 2px;
}


#left , #right{
  font-size: 75px;
  margin: 20px 0;
}

p{
  text-align: center;
  margin-top: 20%;
}
footer{
  font-family: 'Lato', sans-serif;
  letter-spacing: 2px;
  text-align: center;
}
