
body{
        background-color: #e8f1f2;
        color: #25283d;
        font-family: 'Source Sans Pro', sans-serif;
}

#navbar {
      background-color: #8ea8c3;
      overflow: hidden;
      position: fixed; /* Set the navbar to fixed position */
      top: 0; /* Position the navbar at the top of the page */
      width: 100%; /* Full width */
}

/* Links inside the navbar */
#navbar a {
      float: left;
      display: block;
      color: black;
      text-align: center;
      font-family: 'Lato', sans-serif;
      padding: 20px 35px;
      font-size: 15px;
      color:#e8f1f2;
      text-decoration: none;
      letter-spacing: 2px;
}

#all_content{
  width: 90%;
  margin: 0 auto;
  padding: none;
  text-align: center;
}

.task{
  margin-top: 30px;
  margin-left: 13px;
  margin-right: 10px;
  margin-bottom: 30px;
  padding: 0;
  display: inline-block;
  width: 17%;
  text-align: center;
}



#name{
  text-align: center;
  text-transform: uppercase;
  font-family: 'Source Sans Pro', sans-serif;
}


.custom{
  width: 100% !important;
  height: 190px !important;
  padding-top: 45px !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  font-family: 'Source Sans Pro', sans-serif !important;
  font-size: 18px !important;
  text-transform: lowercase !important;
}

.leaf{
  font-size: 40px !important;
  margin-bottom: 10px !important;
}
